/* front page style */

.noteFRONT {
			  position:relative;
			  width:80%;
			  padding:1em 1.5em;
			  margin:1em auto;
			  color:#fff;
			  /* background:#97C02F; */
			  /* background:transparent; */
			  overflow:hidden;
			  font-family: 'Actor', sans-serif;
              font-weight: 400; 
			  -webkit-border-radius:5px 5px 5px 5px;
              -moz-border-radius:5px 5px 5px 5px;
              border-radius:5px 5px 5px 5px;
        }

		.noteFRONT h3 
		{
			color: rgb(255, 255, 255);
			font-family: 'Actor', sans-serif;
			font-size: 50px;
			margin:0px 0px 0px 0px;
			/*background-color: rgb(3, 89, 45);*/
			text-shadow: rgb(255, 255, 255) 0px 0px 10px;
		}

		


/* Pull to refresh plugin START --------------------------------------- */

.x-list-pullrefresh{
	color : #fff;
}

.x-list-pullrefresh-arrow{
	-webkit-mask: center center url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAA8CAYAAAAUufjgAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAjFJREFUeNrsmU8oREEYwOexdtNuKBfFwdVhCyfuysnFiXISS+1BLopyUpKLXETkRLaUi1LK3Q2lpPbiQLnIn03a/Hm+z86Ttv0zM++bfbOar36Hbad5v535Zp7v47iuy0wOpyoEHccRHV9L9NxPkUE/bhKCOKiOSPAdn69DsJ5I8E2HYA0QJRJ8Bb50CDYRCT7pEMQD0kwk+CByUFQEW4gE73UIhoA2IsFb4ENEMCQ5MdU1IxwygpT3oKNLMGyyYFVscdhusc8tDpu+xRG7xf95BW0O2kNiV1AgIvaQ2BzUJNgJNJYZGyUU7OG1cal4Bi68oqkDPszy2teEwJp5Cdyu/lZ1g8CwIYJ7wEF+2YmrNw90Byx3BizgKhaqizEP1wg7CLLxCEzy/CtauMeBlQDyEfNuGrgU6SyM8F9SyVgHdmRaH6tAb4XkToEp2d4M5mOK0TWMigU2koa8vJMRZPxEb2ss2LEVPMpPLlMRxBgDZjQJLgNbxb6Uab9tAn3EcifAeKkBMoLY+j0GWonk7oB+lmsFkwhidAGHBPmIeTcAnJcbKCuIMQEs+hScAzZEBqoIYuzyFVCJI36lMJ2CDfxibZeUu+EX/4uMIFP8ZyLejxkgK0hG5a8kP4IYSZbr1IuQVHmAX0HGX4VuGfZVJ6cQxPd1uoRcWqDW0SroFVzZAnJZ/h0LWhAjUUAw4XdSSsH8fExRTEgtGAOuOTETBb16Jk412e+bxOSwglYw6PgWYABvLk8P7zGJFwAAAABJRU5ErkJggg==) no-repeat;
	background : #555;
}

/* Pull to refresh plugin STOP --------------------------------------- */

/* FONT da Google */ 
/* Google font - stored locally */
/* http://fonts.googleapis.com/css?family=Actor */	

@font-face {
  font-family: 'Actor';
  font-style: normal;
  font-weight: 400;
  src: local('Actor Regular'), local('Actor-Regular'), url(../font/actor.woff) format('woff');
}

/* separator bar list item */
.x-list-normal .x-list-item .x-list-item-label {
border: 1px solid #DEDEDE;
}


body,
.css3darkbackgound,
.css3darkbackgound.x-container,
.css3darkbackgound.x-fullscreen.x-layout-card-item.x-sized,
.css3darkbackgound.x-container > .x-scroll-view,
.x-form .x-scroll-container {

		background-color:#3366FF; 

		/*
		background:
		radial-gradient(black 15%, transparent 16%) 0 0,
		radial-gradient(black 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
		background-color:#282828; 
		background-size:16px 16px;
		*/
} 


.my-centered  {
	margin: auto;
}

/* background del form */

.x-form,
.x-form .x-panel-body,
.x-form > .x-panel-inner,  
.x-form .x-scroll-container > .x-panel-inner {
    background:
		radial-gradient(black 15%, transparent 16%) 0 0,
		radial-gradient(black 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
		background-color:#282828; 
		background-size:16px 16px;
}
   
/* stili per la card */

.h_container {
    padding: 0 0 0 0;
    /*background-color: brown;*/
    /*width: 400px;*/
    display: table;
        
}
.h_img {
    vertical-align: middle;
    display: table-cell;
    margin-right: 1em;
    /* height: 60px; */
}
.h_span {
    vertical-align: middle;
    display: table-cell;
}

.h_title {
    vertical-align: middle;
    display: table-cell;
    color: black;
    /* font-family: 'Actor', sans-serif; */
	font-family: Verdana, Geneva, sans-serif;
    font-size: 30px;
}

.h_subtitle {
    /* padding:0.5em 0.5em 0.5em 0.5em; */
    margin: 0 5px 0 0 ;
    color:black;
    /* font-family: 'Actor', sans-serif; */
	font-family: Verdana, Geneva, sans-serif;
    /* font-weight: 400; */         
    font-size: 15px;
}
 
   
/* note card */

.note {
    position:relative;
    /* width:80%; */
    padding:0.5em 0.5em 0.5em 0.5em; 
    margin:1px 1px 1px 1px; 
    border-width:2px;	
    border-style:solid;
    border-color:green;
    color:#fff;
    background:#F0F0F0;
    /* background:transparent; */
    overflow:hidden;
    /* font-family: 'Actor', sans-serif; */
	font-family: Verdana, Geneva, sans-serif;
    /* font-weight: 400; */
}
    
.note.red {
    /* background:#C93213; */
    border-width:2px;	
    border-style:solid;
    border-color:red;
}

.note.yellow {
    /* background:#C93213; */
    border-width:2px;	
    border-style:solid;
    border-color:yellow;
}

.note.red {
    /* background:#C93213; */
    border-width:2px;	
    border-style:solid;
    border-color:red;
}

.note.bgred {
    background:red;
    border-width:2px;	
    border-style:solid;
    border-color:red;
}

.note.gray {
    /* background:#C93213; */
    border-width:2px;	
    border-style:solid;
    border-color:gray;
}



.note.rounded {
          -webkit-border-radius:5px 5px 5px 5px;
          -moz-border-radius:5px 5px 5px 5px;
          border-radius:5px 5px 5px 5px;
}


    .note p {margin: 0 0 0 ;}
      .note p + p {margin:1.5em 0 0;} /* imposta i margini */
     .note h1 {
          background:red;
          font-family: 'Actor', sans-serif;
          font-weight: 400; 
    color: black;
        }
    .note h2 {          
        font-family: 'Actor', sans-serif;
        font-weight: 300; 
        font-size: 20px;
        color: black; 
        margin: 0 0 0 0;
}

.note h3 {
    color: black;
    font-family: 'Actor', sans-serif;
    font-size: 20px;
    margin:5px 5px 5px 5px;
    /*background-color: rgb(3, 89, 45);*/
    /* text-shadow: rgb(255, 255, 255) 0px 0px 10px; */
}



/* ----------------------------- */


.note hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.note.gradientgreen {
background: #002400; /* Old browsers */
background: -moz-linear-gradient(left,  #002400 7%, #005700 34%, #008a00 56%, #52b152 73%, #83c783 83%, #b4ddb4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(7%,#002400), color-stop(34%,#005700), color-stop(56%,#008a00), color-stop(73%,#52b152), color-stop(83%,#83c783), color-stop(100%,#b4ddb4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #002400 7%,#005700 34%,#008a00 56%,#52b152 73%,#83c783 83%,#b4ddb4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #002400 7%,#005700 34%,#008a00 56%,#52b152 73%,#83c783 83%,#b4ddb4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #002400 7%,#005700 34%,#008a00 56%,#52b152 73%,#83c783 83%,#b4ddb4 100%); /* IE10+ */
background: linear-gradient(to right,  #002400 7%,#005700 34%,#008a00 56%,#52b152 73%,#83c783 83%,#b4ddb4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002400', endColorstr='#b4ddb4',GradientType=1 ); /* IE6-9 */
}
